body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Set the favicon for the browser tab */
<link rel="icon" type="image/png" href="images/favicon.png">
